@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,400i,500i&display=swap');

nav {
	background-color: #EF8D25;
}

body {
	font-family: 'Karla', sans-serif;
}

nav ul li a {
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin: 0 20px;
	font-family: 'Rubik', sans-serif;
	
}

nav ul li a:hover {
	color: darkgray;
	text-decoration: none;
}

#welcome-section {
	height: 100vh;
	width: 100vw;
	background-color: #363531;
	color: white;
	
}

#welcome-heading {
  font-family: 'Rubik', sans-serif;

}

#welcome-text {
	color: #EF8D25;
	font-family: 'Karla', sans-serif;
}

.welcome {
	text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#projects {
	height: 100vh;
	width: 100vw;
	background-color: olive;
}

.project-heading {
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	color: white;
	text-align: center;
	padding-top: 100px;
	
}

.project-heading:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 50%;
	padding-top: 20px;
	border-bottom: 2px solid #EF8D25;
	margin-bottom: 100px;
}

#projects a {
	color: #EF8D25;
	text-decoration: none;
}

#main-section {
	background-color: olive;
}

#contact-section {
	width: 100vw;
	height: 100vh;
	background-color: #363531;
}

.main-section-cards {
	margin: 100px
}

#contact-text {
	color: white;
	text-align: center;
  position: relative;
  top: 50%;
	font-size: 60px;
	-ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.contact-heading {
	font-size: 45px;
}

.icon-text {
	display: inline-block;
	margin: 0 20px;
	font-size: 24px;
	font-family: 'Rubik', sans-serif;
}

.icon-text a {
	color: white;
	text-decoration: none;
}

.icon-text a:hover {
	color: darkgray;
}

#icons {
		margin: 50px 25px;
		color: #EF8D25;
		margin: 100px auto;
}

#icons p {
  text-align: center;
  position: relative;
	top: 5%;
	
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


.contact-info {
	
}